body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.upper-section {
  background-image: url("assets/background.png");
}

.lower-section {
  background-color: #fff;
}

.prev_job {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.prev {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.paragraph {
  font-size: 30px;
  font-weight: bolder;
}

.title {
  border: 1px solid white;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-restart {
  font-size: 24px;
  background: none;
  border: none;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.skills h2 {
  display: flex;
  margin-right: 40%;
}

/* .skill-box {
  display: flex;
  margin: 20px;
  border: 1px solid black;
  padding: 20px;
} */

.skill-btn {
  margin: 10px;
  background-color: #ecf9a1;
  border-radius: 100px;
  box-shadow: rgba(220, 222, 112, 0.2) 0 -25px 18px -14px inset,
    rgba(142, 211, 169, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: rgb(17, 17, 16);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 4px 28px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.skill-btn:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/* .skill-btn input[type="checkbox"]{
    -webkit-appearance: none;
  appearance: none;
} */
.jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.share_roles p {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: 1px solid rebeccapurple;
}

.list_roles {
  width: 65%;
}

.list_roles ul {
  list-style: none;
  padding: 36px 12px;
  margin: 28px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.list_roles li {
  font-size: 28px;
  font-weight: 500;
}

.list-btn {
  all: unset;
}

.list-btn a{
  text-decoration:none;
  color: black;
}

.about_p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
